@charset "UTF-8";

/*-------- Hero ------*/
main div.hero-heading {
  margin: 4rem auto;
  text-align: center;
}

main img.hero-img {
  float: right;
  max-width: 400px;
}

main section.cta-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

main section.cta-cards-wrapper article {
  width: 350px;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

main section.cta-cards-wrapper article:nth-of-type(2) {
  margin-left: 2rem;
}
