@charset "UTF-8";

/*-------- Hero ------*/

main h1.hero-heading {
  text-align: center;
}

img.hero-img {
  max-width: 340px;
  background: var(--primary-bg);
  border-radius: 2rem;
}

section.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
