@charset "UTF-8";

/*-------- Hero ------*/
main div.hero-heading {
  margin: 3rem auto 0 auto;
  text-align: center;
}

main div.hero-heading h1 {
  margin-bottom: 1rem;
}

main img.hero-img {
  max-width: 240px;
  background: var(--primary-bg);
  border-radius: 0.6rem;
}

main section.cta-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main section.cta-cards-wrapper article {
  max-width: 560px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

main section.cta-cards-wrapper article h2 {
  margin: 0;
}
