@charset "UTF-8";

/*-------- Root CSS Variables --------*/
:root {
  --primary: #167af3;
  --primary-pair: #ffc331;
  --body-bg: #ffffff;
  --primary-bg: #f8fbff;
  --text-color: #333333;
}

/*-------- General --------*/
html {
  font-family: "Roboto", sans-serif, "system-ui";
  font-size: 100%;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav,
main,
footer {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*-------- Navigation --------*/
header.nav-header {
  position: sticky;
  top: 0px;
  background: var(--body-bg);
  box-shadow: 0px 6px 14px -6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header.nav-header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
  padding: 0;
  list-style: none;
}

header.nav-header nav ul li a {
  color: inherit;
}

img.logo {
  width: 160px;
  height: 44px;
}

/*-------- Buttons --------*/
a.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 0.2px;
}

a.btn-primary {
  background: var(--primary);
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 2px 10px 0 rgba(5, 5, 5, 0.15);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

a.btn-primary:hover {
  box-shadow: 0 3px 12px 0 rgba(5, 5, 5, 0.4);
}

/*-------- Footer --------*/
footer {
  text-align: center;
  font-size: 0.9rem;
  color: #7d7c83;
}

footer p a {
  color: inherit;
}

/*-------- Media Queries For Tablet and Mobile --------*/
@media (max-width: 760px) {
  header.nav-header nav ul {
    flex-direction: column;
  }

  header.nav-header nav ul li {
    text-align: center;
    padding: 0.6rem;
  }

  header.nav-header nav ul li:nth-of-type(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  header.nav-header nav ul li:nth-of-type(2) span {
    display: inline-block;
    line-height: 1.6;
  }
}
