@charset "UTF-8";

/*-------- Root CSS Variables --------*/
:root {
  --primary: #167af3;
  --primary-pair: #ffc331;
  --body-bg: #ffffff;
  --primary-bg: #eef5fe;
  --text-color: #333333;
}

/*-------- General --------*/
html {
  font-family: "Roboto", sans-serif, "system-ui";
  font-size: 100%;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*-------- Navigation --------*/
nav {
  display: flex;
  position: sticky;
  align-items: center;
  top: 0px;
  background: var(--body-bg);
  box-shadow: 0px 6px 14px -6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
  padding: 0;
  list-style: none;
  flex: 1;
}

img.logo {
  max-width: 160px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

ul.main-links {
  text-align: center;
  flex: 2;
}

ul.main-links li {
  margin-right: 2.6rem;
}

ul.quick-contact li {
  float: right;
}

ul.logo-wrapper {
  margin-left: 3.5rem;
}
ul.quick-contact {
  margin-right: 3.5rem;
}

/*-------- Buttons --------*/
a.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem;
  margin: 0.4rem;
}

a.btn-primary {
  background: var(--primary);
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0 2px 10px 0 rgba(5, 5, 5, 0.15);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

a.btn-primary:hover {
  box-shadow: 0 3px 12px 0 rgba(5, 5, 5, 0.4);
}
